.main{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}
.main>img{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.main>input{
   width: 500px;
   height: 45px;
   margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}
.main>button{
    width: 500px;
   height: 45px;
   margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.main>button:hover{
    background-color: #d1c6c6;
}